
  <div class="main-panel">
  
    <app-menugeneral></app-menugeneral>
    <!-- Inicio Componente -->
   <br>
   <br>
  
 <div class="">
    <div class="">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Sectores</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Código
                  </th> <th>
                    Sector
                  </th>
                  <th>
                    Responsable
                  </th>               
                </thead>
                <tbody>
                  <tr *ngFor="let sector of sectores">
                  <td>{{sector.codigo}}</td>
                  <td>{{sector.nombre}}</td>
                  <td>{{sector.responsable}}</td>
                  </tr>
                  </tbody>
               
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
    
 <!-- Fin Componente -->

  </div>

