
  <div class="main-panel">
  
    <app-menugeneral></app-menugeneral>
    <!-- Inicio Componente -->
   
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Turnos</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Id Turno
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Categoría del Personal
                  </th>
                
                  <th class="text-right">
                    Hora Inicio
                  </th>

                  <th>
                    Hora de Fín
                  </th>

                  <th>
                      Tolerancia en minutos
                    </th>
                  <th>
                    Hora de Inicio (Fín de Semana)
                  </th>

                  <th>
                    Hora de Fín (Fín de Semana)
                  </th>
                  <th>
                    Estado
                  </th>

                </thead>
                <tbody>
                  <tr *ngFor="let turno of turnos">
                  <td>{{turno.idturno}}</td>
                  <td>{{turno.nombre}}</td>
                  <td>{{turno.categoria}}</td>
                  <td>{{turno.inicio}}</td>
                  <td>{{turno.fin}}</td>
                  <td>{{turno.tolerancia}}</td>
                  <td>{{turno.inicioF}}</td>
                  <td>{{turno.finF}}</td>
                  <td>{{turno.estado}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
    
      </div>
    </div>
  </div>
 <!-- Fin Componente -->
</div>