
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a  class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../assets/img/cat-Logo.png">
          </div>
        </a>
        <a  class="simple-text logo-normal">
          CAT S.A.
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a [routerLink]= "['/empleados']" >
              <i class="nc-icon nc-bank"></i>
              <p>Empleados</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/listaempleados']" >
              <i class="nc-icon nc-bank"></i>
              <p>Lista Empleados</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/turnos']" >
              <i class="nc-icon nc-bank"></i>
              <p>Turnos</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/listaturnos']" >
              <i class="nc-icon nc-bank"></i>
              <p>Lista Turnos</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/empresa']">
              <i class="nc-icon nc-bank"></i>
              <p>Empresas</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/listaempresa']" >
              <i class="nc-icon nc-bank"></i>
              <p>Lista Empresas</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/sector']">
              <i class="nc-icon nc-bank"></i>
              <p>Sectores</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/listasector']" >
              <i class="nc-icon nc-bank"></i>
              <p>Lista Sectores</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/funciones']">
              <i class="nc-icon nc-bank"></i>
              <p>Funciones</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/listafunciones']" >
              <i class="nc-icon nc-bank"></i>
              <p>Lista Funciones</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/lugar']">
              <i class="nc-icon nc-bank"></i>
              <p>Lugar</p>
            </a>
          </li>
          <li>
            <a [routerLink]= "['/listalugar']" >
              <i class="nc-icon nc-bank"></i>
              <p>Lista Lugares</p>
            </a>
          </li> 
        </ul>
      </div>
    </div>
    <br>
    <h3>Sistema de Control de Horario </h3>
   

  
