<p>Alta Categoría Empleado</p>


<div class="form-group">
  <label for="formGroupExampleInput">Descripción:</label>
  <input type="text" class="form-control" id="txtDescripcion" placeholder="Ingrese la Descripción de la Categoría">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Cant Hs Días de Semana</label>
  <input type="text" class="form-control" id="txtcanthsdiassem" placeholder="Ingrese la cantidad de horas que debe trabajar los días de semana">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Cant Hs Fin de Semana</label>
  <input type="text" class="form-control" id="txtcanthsfinde" placeholder="Ingrese la cantidad de horas que debe trabajar los fines de semana">
</div>

<button class="btn btn-primary" type="submit">Ingresar</button>&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" type="submit">Cancelar</button>&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" type="submit">Salir</button>