  <div class="main-panel">
    <app-menugeneral></app-menugeneral>
  <!-- Campo de entrada de fecha -->
 Fecha:
  <input type="date" name="fecha" min=""
                                  max="" step="2">
  <br>                              

  <div class="col-md-5 pr-1">
  <label for="" class="col-sm-5 col-form-label">Alcance</label>
  <div class="col-md-5 pr-1">
                             
     
   </div>   
   
   <label><input type="checkbox" id="cbox1" > Todos</label><br> 

   <label><input type="checkbox" id="scbox2" > Bajo Convenio</label>

    
   
   <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Carga de días no laborables</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                      Fecha
                  </th>
                  <th>
                      Descripción
                  </th>
                 
                </thead>


                <tbody>
                  <tr *ngFor="let empresa of empresas">
                  <td>{{empresa.nombre}}</td>
                  <td>{{empresa.codigo}}</td>
                  <td>{{empresa.telefono}}</td>
                  <td>{{empresa.domicilio}}</td>
                  <td>{{empresa.email}}</td>
                  <td>{{empresa.contacto}}</td>
                  <td>{{empresa.provincia}}</td>

                  </tr>
                  </tbody>


               
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
    
      </div>
    </div>
  </div>

    
 <!-- Fin Componente -->
</div>



   <div class="update ml-auto mr-auto">
   <button type="submit" class="btn btn-primary btn-round">REGISTRAR</button>
   <button type="submit" class="btn btn-primary btn-round">SALIR</button>
                  
   </div>
  </div>  