<div class="main-panel">
  
  <app-menugeneral></app-menugeneral>
  <!-- Inicio Componente -->

    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Funciones</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Funciones
                    </th>
                    <th>
                     Codificación
                    </th>
                                         
                  </thead>
                  <tbody>
                    <tr *ngFor="let funcion of funciones">
                    <td>{{funcion.codfuncion}}</td>
                    <td>{{funcion.descripcion}}</td>
                    </tr>
                  </tbody>                
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
      
        </div>
      </div>
    </div>
  
      
   <!-- Fin Componente -->
  </div>