<div class="main-panel">
  
  <app-menugeneral></app-menugeneral>
  <!-- Inicio Componente -->
 
          <title>Alta de Lugares</title>
     
 
      <form>
          <div class="form-group">
            <label for="lbllugar">Lugar:&nbsp;&nbsp;</label>
            <input type="text" size="40" id="txtlugar" placeholder="Ingrese Lugar">
          </div>
          <button type="submit" class="btn btn-primary">Rgistrar</button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary">Salir</button>
        </form>
  
 
   <!-- Fin Componente -->
  </div>