<div class="content">
  <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Funciones</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Funciones:</label>
                  <input type="text" class="form-control" enabled="" placeholder="Funciones" value="Ingrese funciones">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Codificación:</label>
                  <input type="text" class="form-control" placeholder="Codificación" value="Ingrese codificación">
                </div>
              </div>     


        
                                  
              
            </div>
            
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Ingresar</button>
                <button type="submit" class="btn btn-primary btn-round">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-round">Salir</button>




              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>



  