<div class="main-panel">
  
  <app-menugeneral></app-menugeneral>
  <!-- Inicio Componente -->

    <div class="content">
      <div class="col-md-12">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Sectores</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-5 pr-1">
                    <div class="form-group">
                      <label>Sector</label>
                      <input type="text"  class="form-control" id="txtSector" placeholder="">
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary">REGISTRAR</button>
  
                <button type="button" class="btn btn-success">SALIR</button>
                
              </form>
            </div>
          </div>
        </div>
  </div>
  
   <!-- Fin Componente -->
  </div>