<!--The content below is only a placeholder and can be replaced.-->

<form>

            
  <p>Funciones</p>


  <div class="form-group">
    <label for="formGroupExampleInput">Funciones:</label>
    <input type="Funciones" maxlength="20" class="form-control" id="txtFunciones" placeholder="Ingrese la Función">
  </div>
  <div class="form-group">
    <label for="Codificación">Codificación:</label>
    <input type="text" maxlength="20" class="form-control" id="txtcodificacion" placeholder="Codificación">
  </div>
  
  
  <button class="btn btn-primary" type="submit">Ingresar</button>&nbsp;&nbsp;&nbsp;
  <button class="btn btn-primary" type="submit">Cancelar</button>&nbsp;&nbsp;&nbsp;
  <button class="btn btn-primary" type="submit">Salir</button>
</form>

<router-outlet></router-outlet>
