  <div class="main-panel">
  
  <app-menugeneral></app-menugeneral>
  <!-- Inicio Componente -->
  
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Lista Empresa</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                        Nombre
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Email address
                    </th>
                    <th>
                        Domicilio
                    </th>
                    <th>
                        Contacto
                    </th>
                    <th>
                        Provincia
                    </th>
                                         
                  </thead>
                 
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
      
        </div>
      </div>
    </div>
  
      
   <!-- Fin Componente -->
  </div>