
<div class="content">
  <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Empresa</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nombre :</label>
                  <input type="text" class="form-control" enabled="" placeholder="Company" value="Ingrese el Nombre">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Teléfono:</label>
                  <input type="text" class="form-control" placeholder="Username" value="Ingrese Teléfono">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Domicilio:</label>
                  <input type="text" class="form-control" placeholder="Company" value="Ingrese el domicilio">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Contacto:</label>
                  <input type="text" class="form-control" placeholder="Last Name" value="Ingrese el contacto">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Provincia:</label>
                  <input type="text" class="form-control" placeholder="Home Address" value="Ingrese la provincia">
                </div>
              </div>
            </div>
          
          
            

            
            
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Registrar</button>
                <button type="submit" class="btn btn-primary btn-round">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-round">Salir</button>


              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>



  


