<p>Alta de Empresas</p>

<form>

    <h5>Alta de Empresas <span class="badge badge-secondary"></span></h5>


    
  <div class="form-group row">    
  </div>
  <div class="form-group row">
    <label for="Ingrese el nombre de la empresa" class="col-sm-2 col-form-label">Nombre:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="txtNombre de Empresa" placeholder="Ingrese el nombre de la Empresa">
     
    </div>      
    </div>   

    <div class="form-group row">
        <label for="Ingrese el nombre de la empresa" class="col-sm-2 col-form-label">Teléfono:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtTelefono" placeholder="">
         
        </div>      
      
      <div class="form-group col-md-2">
          <label for="Domicilio" class="col-sm-5 col-form-label">Domicilio:</label>
          <div class="col-sd-10">
                         
            <input type="text" class="form-control" id="txtDomicilio" placeholder="">                
                       
          </div>                     
        </div>

        <div class="form-group row">
            <label for="Email" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="txtNombre de Empresa" placeholder="">
             
            </div>               
        
      </div>     

      <div class="form-group row">
        <label for="contaco" class="col-sm-2 col-form-label">Contacto:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtNombre de Empresa" placeholder="">
         
        </div>      

      <div class="form-group col-md-2">    
        </div>
        <div class="form-group col-md-5">
          <label for="" class="col-sm-5 col-form-label">Provincia</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="txtProvincia" placeholder="">
            
          </div>      
          
            <button type="button" class="btn btn-primary">REGISTRAR</button>
<button type="button" class="btn btn-secondary">CANCELAR</button>
<button type="button" class="btn btn-success">SALIR</button>


  


</form>
