<div class="content">
    <div class="col-md-12">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Alta de Turnos</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Turno</label>
                    <input type="text" class="form-control" id="txtNombre de Turno" placeholder="Ingrese el nombre de Turno">
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Categoría de Personal</label>
                    <br/>
                    <select>
                    <option>Ingrese Categoría del Personal</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Tolerancia en minutos</label>
                    <input type="text" class="form-control" id="txtTolerancia" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <h5>&nbsp;&nbsp;Días de Semana <span class="badge badge-secondary"></span></h5>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Hora de inicio</label>
                    <input type="text" class="form-control" id="txtHoraInicio" placeholder="">
                  </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                      <label>Hora de fin</label>
                      <input type="text" class="form-control" id="txtHoraFin" placeholder="">
                    </div>
                  </div>
              </div>
              <div class="row">
                <h5>&nbsp;&nbsp;Fin de Semana <span class="badge badge-secondary"></span></h5>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      <div class="form-group">
                        <label>Hora de inicio</label>
                        <input type="text" class="form-control" id="txtHoraIniciofinde" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-2">
                        <div class="form-group">
                          <label>Hora de fin</label>
                          <input type="text" class="form-control" id="txtHoraFinfinde" placeholder="">
                        </div>
                  </div>
              </div>


             
              <button type="button" class="btn btn-primary">REGISTRAR</button>
              <button type="button" class="btn btn-secondary">CANCELAR</button>
              <button type="button" class="btn btn-success">SALIR</button>
              


              
            </form>
          </div>
        </div>
      </div>
</div>
