<div class="main-panel">
  
  <app-menugeneral></app-menugeneral>
  <!-- Inicio Componente -->
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Empleados</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th class="text-left">
                  Legajo
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Estado
                </th>
                <th>
                  Sitio
                </th>
                <th class="text-left">
                  Sector
                </th>
                <th class="text-left">
                  Función
                </th>
                <th class="text-left">
                  Turno
                </th>
                
              </thead>
             
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
  
    </div>
  </div>
</div>
</div>