<div class="main-panel">
  
  <app-menugeneral></app-menugeneral>
  <!-- Inicio Componente -->
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Empleados</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th class="text-left">
                  Legajo
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Estado
                </th>
                <th>
                  Sitio
                </th>
                <th class="text-left">
                  Sector
                </th>
                <th class="text-left">
                  Función
                </th>
                <th class="text-left">
                  Turno
                </th>
                
              </thead>
              <tbody>
                <tr *ngFor="let empleado of Empleados">
                <td>{{empleado.legajo}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.centro}}</td>
                <td>{{empleado.dni}}</td>
                <td>{{empleado.empresa}}</td>
                <td>{{empleado.control}}</td>
                <td>{{empleado.horaentrada}}</td>
                <td>{{empleado.turno}}</td>
                <td>{{empleado.direccion}}</td>
                <td>{{empleado.telefono}}</td>
                <td>{{empleado.celular}}</td>
                <td>{{empleado.email}}</td>
                <td>{{empleado.foto}}</td>
                <td>{{empleado.estado}}</td>
                <td>{{empleado.usuario}}</td>
                <td>{{empleado.clave}}</td>
                <td>{{empleado.bajoconvenio}}</td>
                <td>{{empleado.fechaing}}</td>
                <td>{{empleado.fechabaja}}</td>
                <td>{{empleado.fechanac}}</td>
                <td>{{empleado.ctrlreg}}</td>
                <td>{{empleado.muicipio}}</td>
                <td>{{empleado.nroreg}}</td>
                <td>{{empleado.fecemis}}</td>
                <td>{{empleado.fecvto}}</td>
                <td>{{empleado.informado}}</td>
                <td>{{empleado.fechainformado}}</td>
                <td>{{empleado.funcion}}</td>
                <td>{{empleado.lugar}}</td>
                <td>{{empleado.ctarj}}</td>
                <td>{{empleado.verif}}</td>
                <td>{{empleado.infrasa}}</td>
                <td>{{empleado.emisorautoelev}}</td>
                <td>{{empleado.nroregautoelev}}</td>
                <td>{{empleado.fecemisregautoelev}}</td>
                <td>{{empleado.fecvenregautoelev}}</td>
                <td>{{empleado.ctrlRegAutoelev}}</td>
                <td>{{empleado.informAutoelev}}</td>
                <td>{{empleado.informaAusentismo}}</td>
                <td>{{empleado.categoria}}</td>
                

                </tr>
              </tbody>
             
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
  
    </div>
  </div>
</div>
</div>